.button-custom:hover > .image-view, 
.toggle-button:hover > .image-view{
     -fx-effect: dropshadow( one-pass-box , rgba(244, 117, 19,0.35) , 7 , 0.1 , 5 , 5 );
}
.button-custom:hover,
.toggle-button:hover{       
    -fx-background-color: rgba(244, 117, 19,0.21);           
} 
.toggle-button:selected{      
    -fx-border-color: transparent transparent rgba(244, 117, 19,0.32) transparent;      
}

.button-normal:hover{
    -fx-background-color: rgba(244, 117, 19,0.75);   
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {    
    -fx-text-fill: white;
    -fx-background-color: rgba(244, 117, 19,1);
}
.menu-item:hover,
.menu-item:focused{
    -fx-text-fill: #999999;    
    -fx-background-color: rgba(244, 117, 19,0.5);    
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: rgba(244, 117, 19,0.178);
}
.combo-box-popup> .list-view> .virtual-flow> .clipped-container> .sheet> .list-cell:filled:selected,
.radio-menu-item:checked> .left-container,
.radio-menu-item:checked> .left-container> .radio{     
    -fx-border-color: rgba(244, 107, 0,0.5);
    -fx-background-color: rgba(244, 117, 19,0.2);
}
.radio-menu-item:checked:hover> .left-container,
.radio-menu-item:checked:focused> .left-container{
    -fx-border-color: white;
    -fx-background-color: rgba(255, 255, 255,0.5);    
}
.radio-menu-item:checked:hover> .left-container> .radio,
.radio-menu-item:checked:focused> .left-container> .radio{        
    -fx-background-color: rgba(255, 255, 255,0.5);   
}

.radio-button:selected>.radio >.dot,
.switch-toggle:selected>.box >.mark{
    -fx-background-color: rgba(244, 117, 19,0.75);               
}
.radio-button:selected>.radio,
.switch-toggle:selected>.box{
    -fx-border-color: rgba(244, 117, 19,0.75);           
}
.radio-button:selected>.radio:hover> .dot,
.switch-toggle:selected>.box:hover >.mark{
    -fx-background-color: rgba(244, 117, 19,1.0);                         
}


#quick-toggle>.box{
    -fx-border-color: transparent;
    -fx-background-color: rgba(224, 108, 20,1);              
}
#quick-toggle>.box >.mark{
    -fx-background-color: rgba(245, 245, 245,0.5);      
}
#quick-toggle:hover>.box >.mark,
#quick-toggle>.box:hover >.mark{
    -fx-background-color: whitesmoke;      
}

#quick-toggle:selected> .box> .mark{
    -fx-background-color: rgba(255, 151, 71,0.45);    
}
#quick-toggle:selected:hover>.box >.mark{
    -fx-background-color: rgba(252, 155, 80,1.0); 
}
#quick-toggle:selected>.box:hover >.mark{
    -fx-background-color: rgb(249, 183, 132)
}

.choice-box:hover,
.combo-box:hover,
.color-picker:hover,
.choice-box:showing,
.combo-box:showing,
.color-picker:showing,
.layer:selected{
    -fx-background-color: rgba(244, 117, 19,0.5);   
}

#crop-rectangle,#crop-path{
    -fx-stroke:rgba(244, 117, 19,1.0);
    -fx-stroke-width:1;
    -fx-fill: rgba(244, 117, 19,0.2);
    -fx-stroke-line-cap:round;    
}

#about-button,
#quick-toggle{     
    -fx-text-fill: rgba(247, 246, 244,0.7);
}
#about-button:hover,
#quick-toggle:hover{  
    -fx-effect: dropshadow( one-pass-box ,rgba(244, 117, 19,1.0) , 0, 0.0 , 0 , 1); 
    -fx-text-fill: rgba(247, 246, 244,1);
}

#pnew-button >.label,
#pnew-button >.arrow-button,
#opt-button{       
    -fx-border-color: transparent;
    -fx-background-color: rgba(244, 117, 19,1);              
}
#opt-button,
#pnew-button >.label{  
    -fx-text-fill: white;    
    -fx-background-color: linear-gradient(to right,                 
        rgba(224, 108, 20,1) 18%,
        rgba(244, 117, 19,1) 15%);                 
}
#opt-button:hover,
#pnew-button:hover >.label,
#pnew-button:showing> .label{  
    -fx-text-fill: white; /*rgba(26, 188, 156,1);*/
    -fx-background-color: linear-gradient(to right,                 
        rgba(206, 99, 18,1) 18%,
        rgba(229, 110, 18,1) 15%);                 
}
#pnew-button:hover >.arrow-button,
#pnew-button:showing >.arrow-button{  
    -fx-background-color:  rgba(219, 110, 18,1);/*rgb(19, 150, 124); rgba(26, 188, 156,1);   */   
}
#pnew-button >.arrow-button >.arrow{
    -fx-opacity: 0.8;
    -fx-background-color: white;          
}
#pnew-button >.arrow-button:hover> .arrow,
#pnew-button:showing> .arrow-button> .arrow{
    -fx-opacity: 1;
    -fx-effect: dropshadow( one-pass-box , rgba(255, 255, 255,0.2) , 7 , 0.3 , 2 , 3 );
}
#pnew-button:hover,
#pnew-button:showing,
#opt-button:hover{
    -fx-effect: dropshadow( one-pass-box , rgba(219, 110, 18,0.2) , 7 , 0.1 , 0 , 6 );
}    

#primary-foreground{   
    -fx-background-image: url(../background/orange-foreground.png);
    -fx-background-position: bottom;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 312 270;    
}
#bottom-box{
    -fx-background-color: rgba(219, 110, 18,0.29);
}
/*
<bg-position> = [[ [ <size> | left | center | right ] [ <size> | top | center | bottom ] ]
    | [ [ center | [ left | right ] <size> ] || [ center | [ top | bottom ] <size> ]]*/